/* Empty. Add your own CSS if you like */
@font-face {
    font-family: brewsky;
    src: url('../fonts/brewsky.ttf');
}

@font-face {
    font-family: intaglio;
    src: url('../fonts/intaglio.ttf');
}

@font-face {
    font-family: featureditem;
    src: url('../fonts/featureditem.ttf');
}

.titles h1{
	font-family: featureditem;
	text-align: center;
	font-size: 5.0vw;
	padding-left: 20px;
	margin: 0 auto;
}

#calendar_div{
	text-align: center;
	width: 800px;
    height: 600px;
    margin: 1% auto;
    height: 100vh;
    width: 100vw;
}

#calendar_div iframe{
	width: 100%;
	height: 100%;
	border: solid 1px #777;
}

.bar-title{
	font-family: featureditem;
	margin: 0 auto;
}

.fonts{
	font-family: featureditem;
}

p{
	padding-left: 6.5%;
	padding-right: 6.5%;
	text-indent: 50px;
}

h4 {
	text-align: center;
}

.share-buttons{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slider { 
	height: 100%;
	width: 100%;  
	text-align: center;
	box-shadow: 0 0 8px 8px white inset;
}

.slider-slide {
  text-align: center;
}
.slider-slide img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    box-shadow: 0 0 8px 8px white inset;
}

.scroll { 
	height: 100%;
}
