/* Empty. Add your own CSS if you like */
@font-face {
    font-family: brewsky;
    src: url('../fonts/brewsky.ttf');
}

@font-face {
    font-family: intaglio;
    src: url('../fonts/intaglio.ttf');
}

@font-face {
    font-family: quigley;
    src: url('../fonts/quigley.ttf');
}

@font-face {
    font-family: remachines;
    src: url('../fonts/remachines.ttf');
}

.titles h1{
	font-family: brewsky;
	text-align: center;
	font-size: 100px;
}

p{
	padding-left: 6.5%;
	padding-right: 6.5%;
	text-indent: 50px;
}

h4 {
	text-align: center;
}

.share-buttons{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slider { height: 100%; text-align: center }
.scroll { height: 100% }
